
* {

    box-sizing: border-box;
}

body{

}



}
.container{

display: flex;
width: 90vw;

}
.panel{

    background-size: auto 100%; 
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
}